__pycache__/
*.py[cod]
*$py.class

# Data Files
*.csv
*.log

# OS Specific
.DS_Store
Thumbs.db

# IDE Specific
.vscode/
.idea/

# Python virtual environments
venv/
.env

# Kafka/Docker logs (Optional but good)
*.log

# Streamlit temporary files
.streamlit/config.toml